@CHARSET "ISO-8859-1";


/* Classes sobrescritas */
.panel {
	border:0px;
}

.panel-heading {
	background-color: white !important;
	border: 0px;
}

.panel-body {
	padding: 0px;
}

.navbar {
	margin-bottom: 0px;
}

button {
	background-color: #D0FF00 !important;
	border-color: #D0FF00 !important;
	
}

button:hover {
	background-color: #e2fc71 !important;
	border-color: #e2fc71 !important;
	
}

/* Classes da barra de navegação */
.barra-navegacao .navbar {
	background-color: #D0FF00;
	border-color: #D0FF00;
	height: 80px;
	vertical-align: middle;
	padding-left:75px;
	padding-right:75px;
	color: black;
	
}

.barra-navegacao a {
 	line-height: 50px;
	
}
.barra-navegacao .navbar-brand {
	background-color: #D0FF00;
	height: 80px;
	vertical-align: middle;
	
}

.navbar-header img {
	height: 79px;
}
.barra-navegacao .navbar-nav {
	background-color: #D0FF00;
	height: 80px;
	vertical-align: middle;
	
}
.barra-navegacao .navbar-nav li a {
 	line-height: 50px;
}

/* Classes do rodapé */

.rodape .opcoes-rodape {
	background-color: #232124;
	color: white;
	padding: 5px 80px;
	
}

.rodape .opcoes-rodape .destaque {
	color: #D0FF00;
}

.rodape .opcoes-rodape img {
	width: 30px;
	margin-right: 20px;
}

.rodape .opcoes-rodape .row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.rodape .direitos-autorais .row {
	background-color: #1D1B1E;
	color: white;
	padding: 20px 20px;
}



/* Classes da home */

.busca-container {
	position: relative;
}

.camada-sobre-imagem {
	position: absolute;
	top: 45%;
	left: 0;
	width: 100%;
}

.busca-formulario {
	padding: 10px 20px;
	background-color: #EFEDF0;
	border: 0px;
	border-radius: 4px;
}

.busca-formulario .row {
	margin-top: 10px;
	margin-bottom: 10px;
}

.busca-formulario select {
	color: gray;
}

.estudios-destaque .row {
	margin-top: 20px;
	margin-bottom: 40px;
	
}

/* Classes da página de resultados de pesquisa */

/* altera o estilo do slider */
rzslider span.rz-pointer {
	background-color: black;
	width: 5px;
	height: 20px;
	margin-top: 6px;
}

.tela-resultado-pesquisa .row {
	margin-top: 50px;
	margin-bottom: 50px;
}
.resultado-busca {
	border: 1px solid;
	border-color: #e2e2e2;
	border-radius: 4px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.resultado-busca .row {
	margin-top: 0px;
	margin-bottom: 0px;
	
}

.resultado-busca .col-md-6 {
	/* os 3 primeiros atributos são os que alinham os elementos ao fundo da célula */
	float: none;
    display: table-cell;
    vertical-align: bottom;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    color: gray;
	
}

.resultado-busca .icone {
	margin-top: 25px;

}

.resultado-busca .col-md-2 {
	padding-left: 6px;
}

.filtros-busca legend {
	margin-top: 70px;
}

.filtros-busca .checkbox {
	border: 1px solid;
	border-color: #e2e2e2;
	border-radius: 4px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
}

.filtros-busca .checkbox label {
	margin-top: 3px;
	margin-bottom: 3px;
}

/* Classes da tela de detalhes do estúdio */

.tela-detalhe-estudio .row {
	margin-top: 50px;
	margin-bottom: 50px;
}

.tela-detalhe-estudio .informacoes .row {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;
	
}

.tela-detalhe-estudio .opcoes-tela-detalhes .row {
	margin-top: 10px;
	margin-bottom: 10px;
	
}

.tela-detalhe-estudio .opcoes-tela-detalhes .panel-heading {
	text-align: center;
	font-weight: bold;
	color: #D0FF00;
	background-color: #555356 !important;
	padding: 0px;
	height: 30px;
	vertical-align: middle;
	padding-top: 5px;
	
}

.tela-detalhe-estudio .opcoes-tela-detalhes .panel-body {
	background-color: #E6E4E5;
}
.tela-detalhe-estudio .opcoes-tela-detalhes .panel-body .row {
	margin-top: 0px;	
	margin-bottom: 0px;
	padding-top: 5px;	
	padding-bottom: 5px;	
}

/* perfil logado */
.perfil-logado .titulo-secao {
	background-color: #D0FF00;
	color: black;
	padding-left: 30px;
	height: 30px;
	padding-top: 5px;
	
}

.perfil-logado .informacoes .row {
	margin-top: 50px;
}
.perfil-logado .container-info {
	border: 1px solid;
	border-color: #e2e2e2;
	border-radius: 4px;
	padding: 10px;
}
.perfil-logado .container-info .icone {
	color: gray;
	font-weight: bolder;
	font-size: x-large;
}

