@CHARSET "ISO-8859-1";


/* Classes sobrescritas */
.panel {
	border:0px;
}

.panel-heading {
	background-color: white !important;
	border: 0px;
}

.panel-body {
	padding: 0px;
}

.navbar {
	margin-bottom: 0px;
}

button {
	background-color: #D0FF00 !important;
	border-color: #D0FF00 !important;
	
}

button:hover {
	background-color: #e2fc71 !important;
	border-color: #e2fc71 !important;
	
}

/* Classes da barra de navegação */
.barra-navegacao .navbar {
	background-color: #D0FF00;
	border-color: #D0FF00;
	height: 80px;
	vertical-align: middle;
	padding-left:75px;
	padding-right:75px;
	color: black;
	
}

.barra-navegacao a {
 	line-height: 50px;
	
}
.barra-navegacao .navbar-brand {
	background-color: #D0FF00;
	height: 80px;
	vertical-align: middle;
	
}

.navbar-header img {
	height: 79px;
}
.barra-navegacao .navbar-nav {
	background-color: #D0FF00;
	height: 80px;
	vertical-align: middle;
	
}
.barra-navegacao .navbar-nav li a {
 	line-height: 50px;
}

/* Classes do rodapé */
/* .rodape { */
/* 	position: fixed; */
/* 	width: 100%; */
/* } */

.rodape .opcoes-rodape {
	background-color: #232124;
	color: white;
	padding: 5px 80px;
	
}

.rodape .opcoes-rodape .destaque {
	color: #D0FF00;
}

.rodape .opcoes-rodape img {
	width: 30px;
	margin-right: 20px;
}

.rodape .opcoes-rodape .row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.rodape .direitos-autorais .row {
	background-color: #1D1B1E;
	color: white;
	padding: 20px 20px;
}

/* classes da home */
.busca-container {
	position: relative;
}

.camada-sobre-imagem {
	position: absolute;
	top: 45%;
	left: 0;
	width: 100%;
}

.busca-formulario {
	padding: 10px 20px;
	background-color: #EFEDF0;
	border: 0px;
	border-radius: 4px;
}

.busca-formulario .row {
	margin-top: 10px;
	margin-bottom: 10px;
}

.busca-formulario select {
	color: gray;
}

.estudios-destaque .row {
	margin-top: 20px;
	margin-bottom: 40px;
	
}
