<!DOCTYPE html>
<html ng-app="StudioHunterApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> --><!-- Se você substituir esta linha pela de cima, o bootstrap não permite zoom, o que faz a aplicação parecer um app nativo no mobile. -->
<title>Studio Hunter</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="css/rzslider.min.css">
<link rel="stylesheet" href="css/estilos.css">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

<div id="baseUrl"></div>

</head>
<body ng-controller="MainController as ctrl">
	<div class="barra-navegacao">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<img alt="StudioHunter" src="img/logo-studio-hunter.png" class="img-responsive" ng-click="ctrl.onLogoClick()" style="cursor: pointer;">
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><a ng-click="ctrl.openLoginModal()" style="cursor: pointer;">Login</a></li>
					<li><a href="#">Quero promover meu estúdio</a></li>
					<li><a href="#">FAQ</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="container">
		<form name="form">
			<div ng-view="ng-view">
			
			</div>
		</form>
	</div>
	
	<div class="rodape">
		<div class="opcoes-rodape">
			<div class="row">
				<div class="col-md-4">
					<div class="row">
						quero promover <span class="destaque">meu estúdio</span>
					</div>
					<div class="row">
						espaço do <span class="destaque">músico</span>
					</div>
					<div class="row">
						espaço do <span class="destaque">estúdio</span>
					</div>
					<div class="row">
						faq
					</div>
				</div>
				<div class="col-md-8">
					<div class="row pull-right">
						<img alt="Facebook" src="img/facebookico.png">
						<img alt="Instagram" src="img/instagramico.png">
						<img alt="Twitter" src="img/twitterico.ico">
						<img alt="Google +" src="img/googleplusico.png">
						<img alt="Snapchat" src="img/snapchatico.png">
						<img alt="Pinterest" src="img/pinterestico.png">
					</div>
				</div>
			</div>
		</div>
		<div class="direitos-autorais">
			<div class="row text-center">
				2017 studiohunter.com.br - Alguns direitos reservados
			</div>
		</div>
	</div>
	
	

	<!-- Bootstrap -->
	<script src="js/jquery/jquery-3.2.1.slim.min.js" type="text/javascript"></script>
	<script src="js/popper/popper.min.js" type="text/javascript"></script>
	<script src="js/bootstrap/bootstrap.min.js" type="text/javascript"></script>
	<!-- Angular -->
	<script src="js/angular/angular.min.js" type="text/javascript"></script>
	<script src="js/angular/angular-route.js" type="text/javascript"></script>
	<script src="js/angular/angular-animate.min.js" type="text/javascript"></script>
	<script src="js/angular/angular-touch.min.js" type="text/javascript"></script>
	<script src="js/angular/rzslider.min.js" type="text/javascript"></script>
<!-- 	<script src="js/angular/ui-bootstrap-2.4.0.min.js" type="text/javascript"></script> -->
	<script src="js/angular/ui-bootstrap-tpls-2.5.0.min.js" type="text/javascript"></script>
	<!-- Module -->
	<script src="js/app/studiohunter.module.js" type="text/javascript"></script>
	<!-- Controller -->
	<script src="js/app/studiohunter.controller.js" type="text/javascript"></script>
</html>