<div class="tela-detalhe-estudio">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-7"></div>
				<div class="col-md-5 pull-right">
					<div class="input-group">
						<input type="text" class="form-control"> 
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" ng-click="onBuscarClick();">Buscar</button>
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<img alt="foto 3 dos equipamentos" src="img/bannerdetalheestudio.jpg" class="img-responsive" style="width: 100%">
			</div>
			<div class="row">
				<label for="descricao" style="font-size: x-large;">AGENDAMENTO</label>
			</div>
			<div class="row">
				<button class="btn btn-default" type="button" ng-click="agendamentoVm.onAgendamentoClick();">AGENDAR</button>
			</div>
		</div>
	</div>
</div>