<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="busca-container text-center">
				<img src="img/imghomefundo.jpg" alt="" class="img-responsive">
				<div class="camada-sobre-imagem">
					<div class="col-md-1"></div>
					<div class="col-md-10 busca-formulario">
						<div class="row">
							<div class="col-md-4">
								<select class="form-control">
									<option value="">Escolha o estado</option>
									<option value="">SP</option>
								</select>
							</div>
							<div class="col-md-4">
								<select class="form-control">
									<option value="">Escolha a cidade</option>
									<option value="">São Paulo</option>
								</select>
							</div>
							<div class="col-md-4">
								<select class="form-control">
									<option value="">Escolha o bairro</option>
									<option value="">Brooklin</option>
									<option value="">Consolação</option>
									<option value="">Jabaquara</option>
									<option value="">Vila Mariana</option>
								</select>
							</div>
						</div>
						<div class="row text-center">
							<span style="color: gray;">ou</span>
						</div>
						<div class="row">
							<div class="col-md-8">
								<input class="form-control"	placeholder="Digite o nome do estúdio" />
							</div>
							<div class="col-md-4">
								<button class="btn btn-default" style="width: 100%">Buscar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3>
			<span
				style="background-color: #D0FF00; font-weight: bold; height: 80px;">ESTÚDIOS</span>
			EM DESTAQUE
		</h3>
	</div>
	<div class="panel-body estudios-destaque">
		<div class="row">
			<div class="col-md-6">
				<img alt="Estudio 1" src="img/estudio01.jpg" class="img-responsive"><br />
				<label>Estúdio 1</label>
				<div>
					<span>São Paulo - SP</span><br /> <span>Vila Mariana</span>
				</div>
			</div>
			<div class="col-md-6">
				<img alt="Estudio 2" src="img/estudio02.jpg" class="img-responsive"><br />
				<label>Estúdio 2</label>
				<div>
					<span>São Paulo - SP</span><br /> <span>Consolação</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<img alt="Estudio 3" src="img/estudio03.jpg" class="img-responsive"><br />
				<label>Estúdio 3</label>
				<div>
					<span>São Paulo - SP</span><br /> <span>Jabaquara</span>
				</div>
			</div>
			<div class="col-md-6">
				<img alt="Estudio 4" src="img/estudio04.jpg" class="img-responsive"><br />
				<label>Estúdio 4</label><br />
				<div>
					<span>São Paulo - SP</span><br /> <span>Brooklin</span>
				</div>
			</div>
		</div>

	</div>
</div>