<style>
.row {
	margin-top:30px;
	margin-bottom:30px;
}
.modal-body {
	padding-left: 50px;
	padding-right: 50px;
}

.link {
	margin-left: 20px;
}
</style>
<div class="modal-content">
	<div class="modal-login">
	<div class="modal-body">
		<div class="row" ng-show="showMensagemCampoObrigatorio" style="color: red; text-align: center;">
			O campo login é de preenchimento obrigatório!
		</div>
		<div class="row">
			<input type="text" class="form-control" placeholder="login" ng-model="modalCtrl.usuarioLogado"></input>
		</div>
		<div class="row" >
			<input type="text" class="form-control" placeholder="senha"></input>
		</div>
		<div class="row">
			<button style="width:100%" class="btn btn-default" ng-click="modalCtrl.login();">ENTRAR</button>
		</div>
		<div class="row" style="margin-top: 0px;">
			<div class="link"><a href="#">Esqueci a senha</a></div>
			<div class="link" style="margin-top: 10px;"><a href="#">Cadastrar</a></div>
			<div class="link" style="margin-top: 10px;"><img alt="Facebook" src="img/facebookico.png" style="height: 20px;"><span style="margin-left:10px; font-size: small;"><a href="#">conectar com facebook</a></span></div>
		</div>
	</div>
	</div>
</div>