<div class="tela-resultado-pesquisa">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-7">
				</div>
				<div class="col-md-5 pull-right">
					<div class="input-group">
					   <input type="text" class="form-control">
					   <span class="input-group-btn">
					        <button class="btn btn-default" type="button">Buscar</button>
					   </span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="filtros-busca">
						
					</div>
				</div>
				<div class="col-md-8">
					<div class="resultado-busca">
						<div class="row">
							<div class="col-md-6">
								<div class="col-md-2">
								</div>
								<div class="col-md-10">
									<h3>Estúdio 1</h3>
									<span>São Paulo - SP</span><br />
									<span>Vila Mariana</span>
								</div>
							</div>					
							<div class="col-md-6">
								<img alt="Estudio 1" src="img/estudio01.jpg" class="img-responsive">
							</div>					
						</div>
					</div>
					<div class="resultado-busca">
						<div class="row">
							<div class="col-md-6">
								<div class="col-md-2">
								</div>
								<div class="col-md-10">
									<h3>Estúdio 2</h3>
									<span>São Paulo - SP</span><br />
									<span>Brooklin</span>
								</div>
							</div>					
							<div class="col-md-6">
								<img alt="Estudio 1" src="img/estudio02.jpg" class="img-responsive">
							</div>					
						</div>
					</div>
					<div class="resultado-busca">
						<div class="row">
							<div class="col-md-6">
								<div class="col-md-2">
								</div>
								<div class="col-md-10">
									<h3>Estúdio 3</h3>
									<span>São Paulo - SP</span><br />
									<span>Consolação</span>
								</div>
							</div>					
							<div class="col-md-6">
								<img alt="Estudio 1" src="img/estudio03.jpg" class="img-responsive">
							</div>					
						</div>
					</div>
					<div class="resultado-busca">
						<div class="row">
							<div class="col-md-6">
								<div class="col-md-2">
								</div>
								<div class="col-md-10">
									<h3>Estúdio 4</h3>
									<span>São Paulo - SP</span><br />
									<span>Jabaquara</span>
								</div>
							</div>					
							<div class="col-md-6">
								<img alt="Estudio 1" src="img/estudio04.jpg" class="img-responsive">
							</div>					
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>