<div class="tela-resultado-pesquisa">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-7">
				</div>
				<div class="col-md-5 pull-right">
					<div class="input-group">
					   <input type="text" class="form-control">
					   <span class="input-group-btn">
					        <button class="btn btn-default" type="button">Buscar</button>
					   </span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<div class="filtros-busca">
						<legend>Tipo de estúdio</legend>
						<fieldset>
							<div class="checkbox">
								<label><input type="checkbox">Ensaio</label><br />
								<label><input type="checkbox">Gravação</label>
							</div>
						</fieldset>						
						<legend>Preço por hora</legend>
						<fieldset>
						    <rzslider rz-slider-model="resultadoVm.minValue" rz-slider-high="resultadoVm.maxValue" rz-slider-options="resultadoVm.sliderOptions" ></rzslider>
						</fieldset>						
						<legend>Disponibilidade</legend>
						<fieldset>
							<div class="checkbox">
								<label><input type="checkbox">Segunda-feira</label><br />
								<label><input type="checkbox">Terça-feira</label><br />
								<label><input type="checkbox">Quarta-feira</label><br />
								<label><input type="checkbox">Quinta-feira</label><br />
								<label><input type="checkbox">Sexta-feira</label><br />
								<label><input type="checkbox">Sábado</label><br />
								<label><input type="checkbox">Domingo</label><br />
							</div>
							<div class="checkbox">
								<label><input type="checkbox">Manhã</label><br />
								<label><input type="checkbox">Tarde</label><br />
								<label><input type="checkbox">Noite</label><br />
							</div>
						</fieldset>
					
					</div>
				</div>
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					<div class="resultado-busca">
						<div class="row">
							<div class="col-md-6">
								<div class="col-md-2">
									<img alt="Estúdio 1" src="img/resultadoico.png" class="icone">
								</div>
								<div class="col-md-10">
									<h3>Estúdio 1</h3>
									<span>São Paulo - SP</span><br />
									<span>Vila Mariana</span>
								</div>
							</div>					
							<div class="col-md-6">
								<img alt="Estudio 1" src="img/estudio01.jpg" class="img-responsive">
							</div>					
						</div>
					</div>
					<div class="resultado-busca">
						<div class="row">
							<div class="col-md-6">
								<div class="col-md-2">
									<img alt="Estúdio 2" src="img/resultadoico.png" class="icone">
								</div>
								<div class="col-md-10">
									<h3>Estúdio 2</h3>
									<span>São Paulo - SP</span><br />
									<span>Brooklin</span>
								</div>
							</div>					
							<div class="col-md-6">
								<img alt="Estudio 2" src="img/estudio02.jpg" class="img-responsive">
							</div>					
						</div>
					</div>
					<div class="resultado-busca">
						<div class="row">
							<div class="col-md-6">
								<div class="col-md-2">
									<img alt="Estúdio 3" src="img/resultadoico.png" class="icone">
								</div>
								<div class="col-md-10">
									<h3>Estúdio 3</h3>
									<span>São Paulo - SP</span><br />
									<span>Consolação</span>
								</div>
							</div>					
							<div class="col-md-6">
								<img alt="Estudio 3" src="img/estudio03.jpg" class="img-responsive">
							</div>					
						</div>
					</div>
					<div class="resultado-busca">
						<div class="row">
							<div class="col-md-6">
								<div class="col-md-2">
									<img alt="Estúdio 4" src="img/resultadoico.png" class="icone">
								</div>
								<div class="col-md-10">
									<h3>Estúdio 4</h3>
									<span>São Paulo - SP</span><br />
									<span>Jabaquara</span>
								</div>
							</div>					
							<div class="col-md-6">
								<img alt="Estudio 4" src="img/estudio04.jpg" class="img-responsive">
							</div>					
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>